* , *:before, *:after{ 
     box-sizing:border-box; 
     -moz-box-sizing:border-box; 
     -webkit-box-sizing:border-box; 
     -ms-box-sizing:border-box;
   }

.clearfix {
  overflow: auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

html {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

body {
  margin: 0;
  width: 100vw;
  /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-weight: 100;
  font-size: 14px;
  line-height: 1;
  background-size: 100% 100%;
  background-image: url("https://images.unsplash.com/photo-1478031706604-bb4b7b0b4e9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.hidden {
    display: none;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000;
}

#header-nav {
    width: 100%;
    height: 39vh;
    margin: 0;
    /* background-color: lightgrey; */
}

#header-container {
    width: 100%;
    height: 100%;
    top: 0;
    /* background-color: blue; */
    position: relative;
    /* opacity: 0.1; */
}

#logo {
    width: 40%;
    height: 100%;
    top: 43px;;
    left: 30px;
    display: inline-block;
    position: relative;
}

.logo-font {
    font-weight: 100;
    font-size: 45px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: -2px;
}

.logo-font-with-color {
    margin-left: 2%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    font-size: 45px;
    display: inline-block;
    color:  hotpink; 
    text-transform: uppercase;
    letter-spacing: 7px;
}

.hamburger_click_me {
    display: none;
}

#nav-items {
    width: 36%;
    height: 100%;
    top: 31px;
    left: 262px;
    position: relative;
    display: inline-block;
}

.nav-item {
    display: inline-block;
    list-style: none;
    margin-left: 3%;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    line-height: 1;
    font-size: 15px;    
    text-transform: lowercase;
    letter-spacing: 3px;
    position: relative;
}

.nav-link:hover {
  color: #000;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#body-container {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    display: none;
}
/* -----------------------------about -----------------------------*/
#about-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: none;
    position: relative;
}
    #about-me {
        width: 100%; 
        height: 100%;
        padding-top: 10%;
        display: block;
    }

    .about-font {
        font-weight: 100;
        color: grey;
        font-size: 18px;
        line-height: 1.5;
        padding: 0 25% 0 3%;
        text-align: left;
    }
/* -------------------------recent work -----------------------------*/
#recent-work-container {
    width: 100%;
    height: 100%;
    margin: 0 auto 20% auto;;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    display: none;
    position: relative;
}
    #work-items {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 2% 0 2%;
    }

    .work-item {
        width: 353px;
        height: 435px;
        border-radius: 5px;
        float: left;
        position: relative;
    }

    .work-item:nth-of-type(2) {
        margin-left: 2%;
        margin-right: 2%;
    }

    .work-item-image {
        width: 100%;
        height: 224px;
    }

    .work-copy {
        text-align: left;
        white-space: normal;
    }

    .work-title {
        font-size: 24px;
        font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 300;
        color: #000;
        letter-spacing: 1px;
    }

    .work-description {
        margin-top: 0;
        font-size: 16px;
        font-family: 'HelveticaNeue-Ultralight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 100;
        color: #000;
        letter-spacing: 1px;
        line-height: 22px;
    }

    .github-repo {
        bottom: 0;
        text-decoration: none;
        cursor: pointer;
        color: #000;
        font-size: 18px;
        position: absolute;
    }

    @media (min-width: 320px) and (max-width: 480px) {
  
        #header-container {
            height: 80px;
            position: relative;
        }

        #header-nav {
            height: 18vh;
        }

        #logo {
            top: 21px;
            width: 57%;
        }
        .logo-font {
            margin-right: 10px;
        }

        .logo-font, .logo-font-with-color{
            font-size: 29px;
            margin: 0;
            padding: 0;
        }

        .nav-list {
            top: 0;
            /* width: 20%; */
            margin: 0;
            padding: 0;
            position: absolute;
        }

        #mobile-hamburger {
            background-color: none;

        }

        
        #hamburger {
            width: 24px;
            height: 18px;
        }

        .hamburger_click_me {
            top: 18px;
            right: 18px;
            width: 3.5rem;
            height: 2.7rem;
            position: relative;
            display: block;
            cursor: pointer;
            float: right;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 30px;
            height: 1px;
            background-color: rgba(1, 1, 1, .9);
            margin: 8px auto 0 auto;
            transition: 0.4s;
        }

        .nav-item {
            display: none;
        }

        #main_navbar {
            width: 250px;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;
            background-color: rgba(54, 62, 68, 0.90);
            z-index: 15;
            transition: all 60ms cubic-bezier(0.03, 0.99, 0.51, 1.02);
        }

        #side_nav_menu {
            top: 0;
            left: 0;
            height: 100%;
            width: 250px;
            position: fixed;
            display: block;
            padding-top: 3.5em;
            z-index: 15;
            overflow: hidden;
        }

        #full_page_opacity_screen {
            width: calc(100% - 250px);
            height: 100%;
            top: 0;
            left: 250px;
            position: fixed;
            background-color: rgba(102, 102, 102, 0.7);
            z-index: 5;
            transition: 0.10s ease-in;
        }

        #side_nav_menu ul li {
            width: 100%;
            padding: 1em 0 1em 0;
            text-align: center;
            display: block;
            clear: both;
            text-transform: uppercase;
        }

        li:not(:nth-child(n + 4)):hover {
            background-color: rgba(247, 247, 247, 0.3);
        }

        #side_nav_menu li {
            margin-top: 15px;
            padding: 0;
            text-transform: uppercase;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            color: #ffffff;
        }

        .mobile-link {
            margin-top: 40px;
            color: #ffffff;
            font-size: 30px;
            font-family: 'HelveticaNeue-Ultralight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-weight: 100;
        }

        #recent-work-container {
            padding-right: 5px;
            padding-left: 5px;
        }

        .work-item {
            width: 100%;
            height: 371px;
            margin-bottom: 59px;
        }

        .work-item-image {
            width: 100%;
            height: auto;
        }

    }
