* , *:before, *:after{ 
     box-sizing:border-box; 
     -moz-box-sizing:border-box; 
     -webkit-box-sizing:border-box; 
     -ms-box-sizing:border-box;
   }

.clearfix {
  overflow: auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

html {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

body {
  margin: 0;
  width: 100vw;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-weight: 100;
  font-size: 14px;
  line-height: 1;
  background-size: 100% 100%;
  background-image: url("https://images.unsplash.com/photo-1478031706604-bb4b7b0b4e9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.lock-scroll {
    overflow: hidden;
}

.hidden {
    display: none;
}

.show {
    display: block;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.top-container {
  padding: 30px;
  text-align: center;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(255,105,180 ,0.2 );
}

.sticky + .content {
  padding-top: 10px;
}

#header-nav {
    width: 100%;
    height: 11vh;
    margin: 0;
}

.pseudo-layer {
    height: 90px;
    background-color: #FFFFFF;
    z-index: 3;
    display: none;
    position: fixed;
    top: 0;
}

#layer-left {
    width: 3.20%;
    float: left;
} 

#layer-right {
    width: 3.9%;
    float: right;
    left: 96.28%;
    background-color: #FFFFFF
} 

#header-container {
    width: 100%;
    z-index: 2;
    padding-left: 44px;
    padding-right: 30px;
}

#logo {
    width: 322px;
    height: 20px;
    top: -24px;
    display: inline-block;
    position: relative;
}

.logo-font {
    font-weight: 100;
    font-size: 45px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: -2px;
}

.logo-font-with-color {
    margin-left: 2%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    font-size: 45px;
    display: inline-block;
    color:  hotpink; 
    text-transform: uppercase;
    letter-spacing: 7px;
}

.hamburger_click_me {
    display: none;
    z-index: 18;
}

.main_navbar {
    display: none;
}

#nav-items {
    width: 51%;
    margin-top: 22px;
    float: right;
    display: inline-block;
}

.nav-item {
    display: inline-block;
    list-style: none;
    margin-left: 3%;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    line-height: 1;
    font-size: 15px;    
    text-transform: lowercase;
    letter-spacing: 3px;
    position: relative;
}

.nav-link:hover {
  color: #000;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#body-container {
    width: 100%;
    height: 100%;
    margin-top: 24vh;
    display: block;
    position: relative;
    display: none;
}

/* -----------------------------about -----------------------------*/
#about-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: none;
    position: relative;
}
    #about-me {
        width: 100%; 
        height: 100%;
        padding-top: 10%;
        display: block;
    }

    .about-font {
        font-weight: 100;
        color: grey;
        font-size: 18px;
        line-height: 1.5;
        padding: 0 25% 0 3%;
        text-align: left;
    }

/* -------------------------recent work -----------------------------*/
#recent-work-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto 10% auto;;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    display: none;
}
    #work-items {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 2% 0 2%;
    }

    .work-item {
        width: 353px;
        height: 419px;
        margin-bottom: 5%;
        border-radius: 5px;
        float: left;
        position: relative;
    }

    .work-item:nth-of-type(2) {
        margin-left: 5.5%;
        margin-right: 5.5%;
    }

    .work-item-image {
        width: 100%;
        height: 224px;
    }

    .work-copy {
        text-align: left;
        white-space: normal;
    }

    .work-title {
        font-size: 24px;
        font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 300;
        color: #000;
        letter-spacing: 1px;
    }

    .work-description {
        margin-top: 0;
        font-size: 16px;
        font-family: 'HelveticaNeue-Ultralight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 100;
        color: #000;
        letter-spacing: 1px;
        line-height: 22px;
    }

    .github-repo {
        bottom: 0;
        text-decoration: none;
        cursor: pointer;
        color: #000;
        font-size: 18px;
        position: absolute;
    }


/* MOBILE */
    @media (min-width: 320px) and (max-width: 734px) {
        .top-container {
            display: none;
        }

        #header-container {
            padding-left: 0;
            padding-right: 0;
        }
        
        #body-container {
            margin-top: 20px;
        }
        
        .sticky {
            border-bottom: none;
        }
        .pseudo-layer {
            display: none;
            z-index: 0;
        }

        .nav-list {
            display: none;
        }

        #header-container {
            height: 80px;
            position: relative;
        }

        #header-nav {
            height: 18vh;
        }

        #logo {
            top: 13px;
            left: 12px;
            width: 57%;
        }

        .logo-font {
            padding-right: 7px;
        }

        .logo-font, .logo-font-with-color{
            font-size: 29px;
            margin: 0;
        }

        .logo-font-with-color {
            letter-spacing: 3px;
        }

        .nav-list {
            top: 0;
            margin: 0;
            padding: 0;
            position: absolute;
        }

        #mobile-hamburger {
            background-color: none;
        }

        #hamburger {
            width: 24px;
            height: 18px;
        }

        .hamburger_click_me {
            top: 9px;
            right: 6px;
            width: 3.5rem;
            height: 2.7rem;
            position: relative;
            display: block;
            cursor: pointer;
            float: right;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 30px;
            height: 1px;
            background-color: rgba(1, 1, 1, .9);
            margin: 8px auto 0 auto;
            transition: 0.4s;
        }

        .nav-item {
            display: none;
        }

        .main_navbar {
            overflow: hidden;
            top: 0;
            left: -330px;
            width: 330px;
            height: 100vh;
            display: block;
            position: absolute;;
            background-color: rgba(71, 76, 88, .85);
            z-index: 15;
            transition: transform 600ms;
            transition-timing-function: cubic-bezier(0,1.09,.82,1.07);
        }

        .main_navbar.animate, .side_nav_menu.animate {
            transform: translateX(310px);
        }

        .side_nav_menu {
            width: 330px;
            height: 100%;
            padding-top: 60px;
            padding-left: 0px;
            z-index: 15;
            overflow: hidden;
        }

        .side_nav_menu li:first-of-type {
            height: 51px;
            padding-top: 9px;
            border-top: 1px solid rgba(225, 232, 244, 0.4);
        }

        .side_nav_menu li {
            height: 42px;
            margin-top: 10px;
            text-align: left;
            display: inline-block;
            vertical-align: top;
            color: #ffffff;
            width: 100%;
            border-bottom: 1px solid rgba(225, 232, 244, 0.4);
        }

        .icon {
            width: 25px;
            height: 25px;
            margin-left: 65px;
            vertical-align: middle;
        }

        .icon-inline:first-of-type {
            margin-left: 65px;
        }

        .icon-inline {
            width: 27px;
            height: 27px;
            margin-left: 2px;
            vertical-align: middle;
            display: inline-block;
        }

        .link-inline {
            display: inline-block;
        }

        #github{
            position: absolute;
            bottom: 130px;
        }

        #jsfiddle {
            width: 36px;
            height: 36px;
            position: absolute;
            bottom: 126px;
            left: 50px;
        }

        .mobile-link {
            margin-left: 12px;
            height: 51px;
            text-align: center;
            vertical-align: middle;
            color: #ffffff;
            font-size: 30px;
            font-family: 'HelveticaNeue-Ultralight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-weight: 100;
        }

        .link-text {
            top: 0;
            display: inline-block;
        }

        #recent-work-container {
            padding-right: 5px;
            padding-left: 5px;
        }

        .work-item {
            width: 100%;
            height: 377px;
            margin-bottom: 59px;
            padding-bottom: 20px;
            border: 1px solid lightgrey;
            background-color: rgba(18.8, 17.6, 18.4,0.1);
        }

        .work-copy {
            text-align: center
        }

        .work-title, .work-description, .github-repo {
            color: #000;
        }

        .github-repo {
            bottom: 0;
            left: 106px;
            padding-bottom: 16px;
            position: absolute;
        }

        .work-item:nth-of-type(2) {
            margin-left: 0;
            margin-right: 0;
        }

        /* experimental */
        .work-item #three:after {
            content: '\A';
            white-space: pre;
        }
        /* end */

        .work-item-image {
            width: 100%;
            height: auto;
        }

    }

/* LARGE DESKTOP */
@media (min-width: 2000px) {
    #header-nav{
        height: 28vh;
        padding-left: 90px;
    }

    #nav-items {
        left: 72.7%;
    }

    #recent-work-container {
        padding-right: 104px;
        padding-left: 119px;
    }
    .work-item {
        width: 23%;
        height: 494px;
        margin-bottom: 7%;
        position: relative;
    }

    .work-item:nth-of-type(2) {
        margin-left: 15%;
        margin-right: 15%;
    }

    .work-item-image {
        width: 100%;
        height: 50%;
    }

    .github-repo {
        bottom: 40px;
    }

}
