* , *:before, *:after{ 
     box-sizing:border-box; 
     -moz-box-sizing:border-box; 
     -webkit-box-sizing:border-box; 
     -ms-box-sizing:border-box;
   }

.clearfix {
  overflow: auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  width: 100vw;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Roboto', 'Helvetica', sans-serif;
  font-weight: 300;
  font-weight: 100;
  font-size: 14px;
  line-height: 1;
  background-color: black;
  background-size: 100% 100%;
  background-image: url(
    "../images/bg-view.jpeg"
  );
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.no-js #loader { 
    display: none;  
}
.js #loader { 
    display: block; 
    position: absolute; 
    left: 100px; 
    top: 0; 
}
.loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loading.gif) center no-repeat #fff;
}

.lock-scroll {
    height: 100%;
    overflow: hidden;
    /* position: fixed; */
    top: 0;
}

.hidden {
    display: none;
}

.show {
    display: block;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(255,105,180 ,0.5 );
}

.sticky + .content {
  padding-top: 10px;
}

#header-nav {
    width: 100%;
    height: 11vh;
    margin: 0;
}

.pseudo-layer {
    height: 90px;
    background-color: #FFFFFF;
    z-index: 3;
    display: none;
    position: fixed;
    top: 0;
}

#layer-left {
    width: 3.20%;
    float: left;
} 

#layer-right {
    width: 3.9%;
    float: right;
    left: 96.28%;
    background-color: #FFFFFF
} 

#header-container {
    width: 100%;
    height: 77px;
    padding-left: 44px;
    padding-right: 30px;
    z-index: 2;  
    background-color: rgba(53, 59, 72, 0.5);  
}

#logo {
    width: 322px;
    height: 20px;
    top: -8px;
    display: inline-block;
    position: relative;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Helvetica', 'Roboto', "Lucida Grande", sans-serif;
}

.logo-font {
    font-weight: 100;
    font-size: 30px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Helvetica', 'Roboto', "Lucida Grande", sans-serif;
}

.logo-font-with-color {
    margin-left: 2%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Helvetica', 'Roboto', "Lucida Grande", sans-serif;
    font-weight: 100;
    font-size: 30px;
    display: inline-block;
    color: #FF69B4;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.hamburger_click_me {
    display: none;
    z-index: 18;
}

.main_navbar {
    display: none;
}

#nav-items {
    width: 40%;
    margin-top: 13px;
    float: right;
    display: inline-block;
}

.nav-item {
    display: inline-block;
    list-style: none;
    margin-left: 3%;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    line-height: 1;
    font-size: 15px;    
    text-transform: lowercase;
    letter-spacing: 3px;
    position: relative;
    transition: color .5s;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -8px;
  left: 0;
  background-color: #FF69B4;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: all .3s;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-link:hover, .active{
  color: white;
}


#body-container {
    width: 100%;
    height: 100%;
    margin-top: 7vh;
    display: block;
    position: relative;
}

.page-title {
    font-weight: 100;
    font-size: 1.8em;
    color: rgba(86, 96, 117, 0.9);
    letter-spacing: 0.5px;
}

.page-title h2:before {
    position: absolute;
    content: "";
    left: 49%;
    top: 50px;
    height: 2px;
    width: 160px;
    background: #FF69B4;
    margin-left: -70px;
}

.page-title h2:after {
    position: absolute;
    content: "";
    left: 49%;
    top: 60px;
    height: 2px;
    width: 80px;
    background: #FF69B4;
    margin-left: -30px;
}

/* -----------------------------about -----------------------------*/
#about-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: none;
    position: relative;
}
    #about-me {
        width: 100%; 
        height: 100%;
        display: block;
    }

    .about-font {
        font-weight: 100;
        color: grey;
        font-size: 26px;
        line-height: 1.3;
        padding: 0;
        text-align: center;
    }

/* -------------------------recent work -----------------------------*/
#recent-work-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto 10% auto;;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    display: none;
}
    #work-items {
        width: 100%;
        height: 100%;
        margin: 0 auto;        
    }

    .work-item {
        height: 419px;
        float: left;
        position: relative;
        width: 33%;
        padding-bottom: 29%;
        padding-right: 2%;
        padding-left: 2%;
        border-bottom: 1px solid rgba(0,0,0,.05);
        padding-bottom: 36%;
    }

    .work-item:nth-of-type(2) {
        border-right: 1px solid rgba(0,0,0,.05);
        border-left: 1px solid rgba(0,0,0,.05);
    }

    .work-item:nth-of-type(5) {
        border-right: 1px solid rgba(0,0,0,.05);
        border-left: 1px solid rgba(0,0,0,.05);
    }

    .work-item:nth-of-type(4),
    .work-item:nth-of-type(5) {
        padding-top: 4%;
    }

    .card {
        width: 100%;
        height: 419px;
        /* padding: 0 5px 47px 5px; */
        display: block;
        position: relative;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease 0s;
    }

    .card:hover {
        box-shadow: 0px 16px 18px 0px rgba(0,0,0,0.24);
        transition: all 0.3s ease 0s;
    }

    .work-item-image {
        width: 100%;
        height: 224px;
    }

    .work-copy {
        margin-left: 5px;
        margin-right: 5px;
        text-align: left;
        white-space: normal;
    }

    .work-title {
        font-size: 24px;
        font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 300;
        color: #000;
        letter-spacing: 1px;
    }

    .work-description {
        margin-top: 0;
        font-size: 16px;
        font-family: 'HelveticaNeue-Ultralight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 100;
        color: #000;
        letter-spacing: 1px;
        line-height: 22px;
        text-align: left;

    }

    .github-repo {
        bottom: 21px;
        text-decoration: none;
        cursor: pointer;
        color: grey;
        font-size: 18px;
        position: absolute;
        opacity: 0.6;
    }
/* -------------------------contact me -----------------------------*/
#contact-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto 10% auto;;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    display: none;
}

    .contact {
        font-size: 26px;
        font-weight: 100;
        color: grey;
    }

    .icon-large {
            width: 50px;
            height: 50;
            opacity: 0.4;
    }


/* ---------------------------------------MOBILE--------------------------------------- */
    @media (min-width: 320px) and (max-width: 734px) {
        body {
            margin: 0;
            width: 100vw;
            height: 100vh;
            font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-weight: 300;
            font-weight: 100;
            font-size: 14px;
            line-height: 1;
            background-color: black;
            background-size: auto 100%;
            background-image: url(
                "../images/bg-view.jpeg"
            );
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1;
        }

        #header-nav{
            height: 0;
        }

        #header-container {
            height: 0;
            padding-left: 0;
            padding-right: 0;
            background-color: rgba(0, 0,0,0,) !important;
        }
        
        #body-container {
            margin-top: 20px;
        }
        
        .sticky {
            border-bottom: none;
            background-color: transparent;
        }

        .nav-list {
            display: none;
        }

        #header-container {
            height: 55px;
            position: relative;
        }

        #header-nav {
            height: 13vh;
        }

        #logo {
            top: 13px;
            left: 17px;
            width: 57%;
        }

        .logo-font {
            padding-right: 7px;
        }

        .logo-font, .logo-font-with-color{
            font-size: 29px;
            margin: 0;
        }

        .logo-font-with-color {
            letter-spacing: 3px;
        }

        .nav-list {
            top: 0;
            margin: 0;
            padding: 0;
            position: absolute;
        }

        #mobile-hamburger {
            background-color: none;
        }

        #hamburger {
            width: 24px;
            height: 18px;
        }

        .hamburger_click_me {
            top: 9px;
            right: 17px;
            width: 3.5rem;
            height: 2.7rem;
            position: relative;
            display: block;
            cursor: pointer;
            float: right;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 30px;
            height: 1px;
            background-color: rgba(1, 1, 1, .9);
            margin: 8px auto 0 auto;
            transition: 0.4s;
        }

        .nav-item {
            display: none;
        }

        .main_navbar {
            overflow: hidden;
            top: 0;
            left: -100vw;
            width: 100vw;
            height: 100vh;
            display: block;
            position: fixed;
            background-color: rgba(0,0,0,.7);
            z-index: 15;
            transition: transform 600ms;
            transition-timing-function: cubic-bezier(0,1.0,.82,1.0);
        }

        .main_navbar.animate, .side_nav_menu.animate{
            transform: translateX(100vw);
        }

        .mobile-link.animate {
            transform: translateX(10vw);
        }

        .side_nav_menu {
            width: 100vw;
            height: 100%;
            padding-top: 194px;
            padding-left: 0px;
            z-index: 15;
            overflow: hidden;
        }

        .side_nav_menu li:first-of-type {
            height: 31px;
        }

        .side_nav_menu li {
            height: 37px;
            margin-top: 10px;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            color: #ffffff;
            width: 100%;
        }


        .icon-large {
            width: 50px;
            height: 50;
            opacity: 0.4;
        }

        .icon {
            width: 25px;
            height: 25px;
            margin-left: 65px;
            vertical-align: middle;
        }

        .icon-inline {
            vertical-align: middle;
            display: inline-block;
        }

        .link-inline {
            display: inline-block;
            padding-left: 19px;
        }

        #github{
            width: 22px;
            height: 22px;
            position: absolute;
            bottom: 215px;
            left: 161px;
        }

        #jsfiddle {
            width: 30px;
            height: 30px;
            position: absolute;
            bottom: 212px;
        }

        .mobile-link {
            position: absolute;
            left: 10%;
            margin-left: 12px;
            height: 51px;
            text-align: center;
            vertical-align: middle;
            color: #ffffff;
            font-size: 37px;
            font-family: 'HelveticaNeue-Ultralight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-weight: 100;
            transition: transform 600ms;
            transition-timing-function: cubic-bezier(0,1.09,.82,4.0);
        }

        .link-text {
            top: 0;
            display: inline-block;
        }

        #recent-work-container {
            padding-right: 5px;
            padding-left: 5px;
        }

        .card {
            height: 365px;
        }

        .work-item {
            width: 100%;
            height: 377px;
            margin-bottom: 59px;
            padding-bottom: 20px;
            border-left: none;
            border-right: none;
        }

        .work-item:nth-of-type(2) {
            border-right: none;
            border-left: none;
        }

        .work-item:nth-of-type(5) {
            border-right: none;
            border-left: none;
        }

        .work-copy {
            text-align: left;
        }


        .work-title, .work-description, .github-repo {
            color: #000;
        }

        .github-repo {
            bottom: 0;
            left: 6px;
            padding-bottom: 16px;
            position: absolute;
            text-align: left;
            color: hotpink;
        }

        .work-item:nth-of-type(2) {
            margin-left: 0;
            margin-right: 0;
        }

        /* experimental */
        .work-item #three:after {
            content: '\A';
            white-space: pre;
        }
        /* end */

        .work-item-image {
            width: 100%;
            height: auto;
        }

        #contact-container {
            padding-right: 5px;
            padding-left: 5px;
        }
    }

/* LARGE DESKTOP */
@media (min-width: 2000px) {
    #header-nav{
        height: 28vh;
        padding-left: 90px;
    }

    #nav-items {
        left: 72.7%;
    }

    #recent-work-container {
        padding-right: 104px;
        padding-left: 119px;
    }
    .work-item {
        width: 23%;
        height: 494px;
        margin-bottom: 7%;
        position: relative;
    }

    .work-item:nth-of-type(2) {
        margin-left: 15%;
        margin-right: 15%;
    }

    .work-item-image {
        width: 100%;
        height: 50%;
    }

    .github-repo {
        bottom: 40px;
    }

    #contact-container {
        /* updates pending */
    }

}
